body {
  font-family: "Comfortaa", cursive; }

.contenedor {
  max-width: 1100px;
  margin: 0 auto; }

.oculto {
  display: none; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header .logo {
    padding: 1.4rem 0; }
  .header .carrito-compras {
    position: relative; }
    .header .carrito-compras:hover .contenido {
      display: block;
      position: absolute;
      right: 0;
      background-color: #f2f2f2;
      padding: 1rem;
      max-width: 400px; }
      .header .carrito-compras:hover .contenido img {
        max-width: 150px; }
      .header .carrito-compras:hover .contenido .boton {
        background-color: #33C3f0;
        padding: .5rem 1rem;
        margin-top: 1rem;
        display: block;
        text-align: center;
        color: #ffffff;
        text-decoration: none; }

#header {
  background-color: #741d51; }

.hero {
  background-color: greenyellow; }

.barra {
  background-color: palevioletred; }

.encabezado {
  background-color: burlywood; }

.cursos {
  background-color: aqua; }

#footer {
  background-color: bisque; }
